body{
    margin:0;
    background:#f3f6fb;
    font-family:Arial,sans-serif;
}

.container{

    max-width:420px;

    margin:70px auto;

    background:white;

    border-radius:20px;

    padding:40px;

    text-align:center;

    box-shadow:0 10px 30px rgba(0,0,0,.1);

}

h1{

    color:#1877f2;

    margin-bottom:10px;

}

.subtitle{

    color:#666;

    margin-bottom:35px;

}

.menu{

    display:flex;

    flex-direction:column;

    gap:15px;

}

button{

    height:55px;

    border:none;

    border-radius:14px;

    font-size:20px;

    cursor:pointer;

    background:#1877f2;

    color:white;

    transition:.2s;

}

button:hover{

    transform:scale(1.03);

}

.version{

    margin-top:35px;

    color:#999;

    font-size:14px;

}